/* NotesList styles */
.ListNotes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 0;
  padding-bottom: 70px;
}

.ListNotes p {
  color: rgba(31, 28, 44, 0.5);
  text-align: center;
  margin-top: 32px;
}
