.note {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 1vh;
  max-height: 160px;
  min-width: 300px;
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .note {
    min-width: 100%;
  }
}

.note-header {
  font-size: 1rem;

  display: flex;
  justify-content: space-evenly;
  flex: row;
}

.note-category {
  font-size: 0.8rem;
  color: var(--secondary-color);
  border: var(--accent-color);
  border-radius: 15px;
  margin-left: 10px;
  padding: 10px;
  background-color: var(--accent-color);
  font-weight: 700;
}

.note-category.private {
  color: var(--accent-cont-color);
}

.note:hover {
  transform: translateY(-5px);
}

.note-footer {
  display: flex;
  justify-content: flex-end;
}

