*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  width: 45vh;
  height: 90vh;
  background: linear-gradient(
    90deg,
    rgba(191, 159, 193, 1) 40%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 3vh auto; /* Centered horizontally */
  grid-template-columns: 10vh 1fr 1fr;
  grid-template-rows: 4vh 1fr 1fr;
  position: relative; /* Added positioning context */
  overflow: hidden; /* Hide overflow if needed */
  border: 2px solid #ccc; /* Optional styling */
  border-radius: 10px; /* Optional styling */
}

.wrapper {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 5vh;
  width: 5vh;
  z-index: 10;
  background-color: rgba(143, 170, 219, 0.6); /* Semi-transparent background */
  border: 1px solid transparent;
  color: white;
  font-size: larger;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.mode-button {
  width: 100%;
  height: 3vh;
  justify-self: center;
  text-align: center;
  background-color: #00a4bd; /* Initial color */
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  grid-column: 1 / span 3;
  background-image: linear-gradient(to right, #94d6e0 0%, #00a4bd 100%);
  background-size: 0 100%; /* Start with background size at 0 */
  background-repeat: no-repeat;
  transition: 0.3s height ease, 0.5s background-size ease-in;
}

.mode-button:hover {
  height: 5vh;
  background-size: 100% 100%;
  transition: 0.6s height ease, 0.5s background-size ease-in;
}
.groups-return {
  margin: 0.1vh 0.2vh 3vh 0.1vh;
  border-bottom: 0.3vh #00a4bd solid;
  background-color: rgba(233, 211, 211, 0.3);
}

.groups-list {
  margin-left: 5vh;
}

.groups {
  display: flex;
  flex-direction: column;
}

.groups button {
  height: 3vh;
  width: 12vh;
  outline: none;
  padding: 0.4vh;
  background-color: rgba(0, 212, 255, 0.3);
  color: rgb(89, 96, 197);
  font-weight: bold;
}

.group-item {
  display: flex;
  flex-direction: row;
}

.group-item input {
  background-color: rgba(0, 212, 255, 0.3);
  color: white;
  font-weight: bold;
  outline: none;
  border-bottom: 0.3vh solid #19cedb;
}

.notes-list {
  grid-column: 1 / 3 span;
  grid-row: 2 / span 2;
  overflow-y: none;
  padding: 5vh;
  background-color: transparent;
  justify-self: center;
  width: 110%;
  display: flex;
  flex-direction: column;
}

.notes-list .notes {
  overflow-y: auto;
  margin-top: 2vh;
  border-top: #00a4bd solid 0.3vh;
}

.search {
  position: sticky;

  top: 8vh;
  z-index: 1;
  background-color: rgba(245, 241, 241, 0.6);
  color: #4024a5;
  padding: 0.15rem 0.5rem;
  min-height: 4vh;
  border-radius: 0.6vh;
  outline: none;
  border: none;
  box-shadow: 0px 10px 20px -18px;
}

.search:hover {
  outline: 1px solid lightgrey;
}

.preview-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow-y: hidden;
  margin-top: 3vh;
  min-height: 4vh;
  max-height: 13vh;
  position: relative;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  border: 0.4vh outset #00a4bd;
  border-radius: 1.4vh;
  color: #2d3e50;
  background-color: rgba(247, 248, 248, 0.7);
  text-align: center;
  padding: 1vh;
}

.preview-note h3 {
  color: black;
  align-self: center;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

.preview-note div {
  color: black;
  overflow-y: auto;
  margin-top: 1vh;
  padding: 1vh;
  width: 100%;
}

.note {
  display: flex;
  flex-direction: column;
  grid-row: 2 / span 3;
  grid-column: 1 / span 3;
}

.buttons {
  height: 3vh;
  display: grid;
  grid-template-columns: 9vh 1fr 5vh 5vh 6vh;
  grid-template-rows: auto;
  flex-direction: row;
  align-items: stretch;
}

.buttons select,
.new-note-buttons select,
.buttons button,
.groups button,
.new-note-buttons button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-left: 2px #00a4bd solid;
  text-align: center;
  transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}

.buttons select:hover,
.new-note-buttons select:hover,
.groups button:hover,
.buttons button:hover,
.new-note-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-left: 2px #00a4bd solid;
}

.note-style {
  color: #eee5e5;
  background-color: rgba(191, 159, 193, 0.1);
  overflow-x: none;
  overflow-y: auto;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  padding: 0.15rem 0.5rem;
  height: 100%;
  border-radius: 4px;
  outline: none;
  border: none;
  box-shadow: 0px 10px 20px -18px;
  resize: none;
  cursor: pointer; /* Optional */
}

.title-style {
  font-weight: 500;
  font-size: large;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-bottom: #00a4bd 0.3vh solid;
  box-shadow: none;
  margin: 1vh 0.2vh;
  padding: 0.15rem 0.5rem;
  outline: none;
}

.new-note {
  grid-column: 1/ 4 span;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: none;
  overflow-y: auto;
}

.new-note-buttons {
  display: grid;
  grid-template-columns: 9vh 1fr 6vh;
  grid-template-rows: auto;
  flex-direction: row;
  align-items: stretch;
}

.new-note-buttons button {
  width: 100%;
  height: 3vh;
}
