.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 3vh 5vh auto /* for categories */ 1fr 5vh;
  justify-content: start;
}

.ListNotes {
  padding: auto;
  grid-column: 2;
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px; /* Add spacing between notes */
  margin-top: 3vh;
  overflow-y: auto;
  overflow-x: auto;
  border: 0.4vh solid rgb(28, 35, 107);
}

.Categories {
  grid-column: 2;
  grid-row: 3;
}

@media only screen and (max-width: 800px) {
  .ListNotes {
    padding: auto;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; /* Add spacing between notes */
    margin-top: 3vh;
    overflow-y: auto;
    overflow-x: auto;
    border: 0.4vh solid rgb(28, 35, 107);
  }

  .App {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 5vh 5vh 1fr 1fr 5vh;
    justify-content: start;
  }
}

.SearchBar {
  grid-column: 2;
  grid-row: 2;
  min-width: 70%;
  max-width: fit-content;
  justify-self: center;
}

.SearchBar input {
  border: 0.4vh solid rgb(8, 73, 184);
  color: blue;
  font-weight: 700;
  padding: 1rem;
  background-color: #2ecc71;
  border-radius: 3vh;
}
